
@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout2.cshtml";

    Layout = null;
}

<h1>Index Page</h1>
<p>This is my Home Page</p>

@ViewData["data1"]
@ViewBag.data2
@TempData["data3"]

@* @{
    if (TempData["data4"] != null)
    {
        foreach (var item in (List<string>)TempData["data4"])
        {
            <h2>@item
            </h2>
        }
    }
} *@

@* @ViewData["data1"]
@ViewBag.data2 *@
 

@* @ViewBag.data1;
<br/>

@ViewBag.data2;
<br/>


@ViewBag.data3;

@{
    foreach (var item in ViewBag.data4 )
    {
        <h2>@item</h2>

        
    }
}

@{
    foreach (var item in ViewBag.data5)
    {
                <h2>@item</h2>


    }
}

@ViewBag.myName
<br />
 *@

@* @ViewData["data1"]
<br/>
@ViewData["data2"]
<br/>
@ViewData["data3"]


@{
    foreach (var item in (string [])ViewData["data4"])
    {
        <h2>@item</h2>
    }
}

@{
    foreach (var item in (List<string>)ViewData["data5"])
    {
        <h3>@item</h3>

        
    }
}
 *@

@* 
<h1>Current Date And Time Is @DateTime.Now</h1>//Inline Expression
<h1>Current  Year Is @DateTime.Now.Year</h1>


@{// code block
    var name ="PRogrammentor";
    var age = 93;
}

<h2> Name=@name</h2>
<h2>Age=@age</h2>

@{
    var MyName = "Waqar";

    if (MyName.Equals("Wakku"))
    {
        <h3> Hey Waqar</h3>
    }
    else
    {
        <h3>kya yaar tumne sahi name nhi likha hai </h3>
    }
}

@{
    for (int i = 0; i < 10; i++)
    {
        <h2>@i</h2> 
        
    }
}

@{
    string[] names = { "waqar", "azeem", "abdul", "hozaifa" };

    foreach (var item in names)
    {
        <h3>@item</h3>
        
    }
}



 *@